@font-face {
  font-family: 'friz';
  src: url('/static/fonts/friz_quadrata_regular-webfont.eot');
  src: url('/static/fonts/friz_quadrata_regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/friz_quadrata_regular-webfont.woff2') format('woff2'),
       url('/static/fonts/friz_quadrata_regular-webfont.woff') format('woff'),
       url('/static/fonts/friz_quadrata_regular-webfont.ttf') format('truetype'),
       url('/static/fonts/friz_quadrata_regular-webfont.svg#friz_quadrataregular') format('svg');
  font-weight: normal;
  font-style: normal;
}