@import '../../pages/variables.scss';
.character {
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: top left;
	backface-visibility: hidden;
	&.main {
		position: absolute;
		left: 50%;
		bottom: 50px;
		height: 470px;
		width: 300px;
		transform: translateX(-50%);
		transform-origin: bottom center;
		opacity: 0;
		&.cheer {
			left: calc(50% + 20px);
			height: 715px;
			width: 360px;
			background-image: url('/static/images/character/cheer.png');
		}
		&.stand {
			background-image: url('/static/images/character/stand.png');
		}
		&.cry {
			background-image: url('/static/images/character/cry.png');
		}
		&.laugh {
			background-image: url('/static/images/character/laugh.png');
		}
		&.beg {
			background-image: url('/static/images/character/beg.png');
		}
		&.talk {
			left: calc(50% + 17px);
			background-image: url('/static/images/character/talk.png');
		}
		&.show {
			opacity: 1;
			&.cheer {
				-webkit-animation: emote 2.5s steps(49) infinite;
				-moz-animation: emote 2.5s steps(49) infinite;
				animation: emote 2.5s steps(49) infinite;
			}
			&.stand {
				-webkit-animation: emote 2.65s steps(52) infinite;
				-moz-animation: emote 2.65s steps(52) infinite;
				animation: emote 2.65s steps(52) infinite;
			}
			&.cry {
				-webkit-animation: emote 4.25s steps(85) infinite;
				-moz-animation: emote 4.25s steps(85) infinite;
				animation: emote 4.25s steps(85) infinite;
			}
			&.laugh {
				-webkit-animation: emote 3.3s steps(65) infinite;
				-moz-animation: emote 3.3s steps(65) infinite;
				animation: emote 3.3s steps(65) infinite;
			}
			&.beg {
				-webkit-animation: emote 4.7s steps(93) infinite;
				-moz-animation: emote 4.7s steps(93) infinite;
				animation: emote 4.7s steps(93) infinite;
			}
			&.talk {
				-webkit-animation: emote 2s steps(39) infinite;
				-moz-animation: emote 2s steps(39) infinite;
				animation: emote 2s steps(39) infinite;
			}
		}
	}
	&.summary {
		&.talk {
			position: absolute;
			width: 320px;
			height: 515px;
			right: -100px;
			top: 50%;
			transform: translateY(-50%);
			background-image: url('/static/images/character/summary.png');
			-webkit-animation: emote 2.3s steps(39) infinite;
			-moz-animation: emote 2.3s steps(39) infinite;
			animation: emote 2.3s steps(39) infinite;
		}
	}
}
@-webkit-keyframes emote {
  100% { background-position: right top;}
}
@-moz-keyframes emote {
	100% { background-position: right top;}
}
@keyframes emote {
	100% { background-position: right top;}
}

@media (max-width: 1023px) {
	.character.main {
		bottom: 0;
	}
}

@media (max-height: 660px), (max-width: 930px) {
	.character {
		&.summary {
			display: none;
		}
	}
}