@import "../../pages/global.scss";
@import "../../static/fonts/fonts.scss";
#header {
	height: 95px;
	width: calc(100% - 552px);
  top: -110px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	background: url(/static/images/panel/img_head-center.png) repeat-x top center;
	text-align: center;
	&:before, &:after {
		content: "";
		position: absolute;
		bottom: 0;
		height: 95px;
		width: 296px;
	}
	&:before {
		background: url(/static/images/panel/img_head-left.png) repeat-x top right;
		left: -296px;
	}
	&:after {
		background: url(/static/images/panel/img_head-right.png) repeat-x top left;
		right: -296px;
	}
	.header-content {
		width: 100%;
		min-width: 135px;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		z-index: 3;
		h3 {
			margin: 0;
			color: $gold;
			font-family: "friz";
			font-size: 12px;
			margin-top: 45px;
			font-weight: 100;
		}
		.points {
			display: inline-block;
			background: url(/static/images/panel/bg_points.png) no-repeat center center;
			width: 90px;
			height: 35px;
			line-height: 35px;
			position: relative;
			top: -5px;
			color: $whitish;
			font-family: "friz";
			letter-spacing: 1px;
			font-size: 10px;
			text-align: right;
			padding-right: 40px;
		}
	}
}

@media (max-width: 650px) {
	#header {
		&:before {
			width: calc(50vw - 30px);
			left: calc((50vw - 30px) * -1);
		}
		&:after {
			width: calc(50vw - 30px);
			right: calc((50vw - 30px) * -1);
		}
	}
}

@media screen and (max-height: 650px) and (orientation: landscape) {
	#header {
		&:before {
			width: calc(50vh - 30px);
			left: calc((50vh - 30px) * -1);
		}
		&:after {
			width: calc(50vh - 30px);
			right: calc((50vh - 30px) * -1);
		}
	}
}

@media (max-width: 460px) {
	#header {
		&:before, &:after {
			height: 69px;
		}
		.header-content {
			top: 6px;
		}
	}
}

@media screen and (max-height: 460px) and (orientation: landscape) {
	#header {
		&:before, &:after {
			height: 69px;
		}
		.header-content {
			top: 6px;
		}
	}
}