@import './normalize.scss';
@import './variables.scss';
body {
	height: 100vh;
	width: 100vw;
	background: $brown;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
* {
	cursor: url(/static/images/cursor.png), auto;
}
.main-content {
	opacity: 1;
	width: 100vw;
	height: 100vh;
	background: url(/static/images/main_bg.jpg) no-repeat bottom center;
	background-size: cover;
	&.hidden {
		opacity: 0;
	}
}