@import './normalize.scss';
@import './variables.scss';
body {
	height: 100vh;
	width: 100vw;
	background: $brown;
	overflow: hidden;
	min-height: 100%;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
* {
	cursor: url(/static/images/cursor.png), auto;
}
#__next, #app {
	width: 100%;
	height: 100%;
}
.main-content {
	opacity: 1;
	width: 100%;
	height: 100%;
	background: url(/static/images/dfbackground.jpg) no-repeat bottom center;
	background-size: cover;
	overflow: hidden;
	position: relative;
	&.hidden {
		opacity: 0;
	}
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {

}